@media screen and (max-width: 768px) {
    .leftList {
        float: left;
        display: none;
    }
    .rightList {
        padding: 0;
        float: left;
        .articleBox {
            padding: 20px;
            margin-bottom: 10px;
            p {
                font-size: 16px;
                letter-spacing: 0;
                margin-bottom: 15px;
            }
        }
    }

    header, footer {
        display: none;
    }
    #main {
        padding: 0;
    }
    #rightList {
        display: none;
    }

    #leftList {
        padding: 0;
        .articleBox {
            margin-bottom: 10px;
            border-radius: 0;
        }
    }

    #homeBox {
        height: 100vh;
        min-height: 575px;
        padding-top: 0;

        section#banner {
            height: 32%;
            min-height: 213px;
        }

        section.entranceBox {
            height: 68%;
            .work, .life, .guestbook, .aboutMe {
                width: 100% !important;
                height: 17vh !important;
                min-height: 95px;
                float: none !important;
                border-right: none;
                border-bottom: 1px solid #fff;
            }

            .work, .life, .guestbook {
                .icon {
                    margin: 0 auto 10px !important;
                }
            }

            .aboutMe {
                .weixin, .weibo {
                    display: none !important;
                }
            }

            .aboutMe {
                .centerBoxLast {
                    margin: auto;
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    height: 80px;
                    .title {
                        line-height: 20px;
                        margin: 0;
                        text-align: center;
                    }

                    .phoneNum, .eMail {
                        line-height: 30px;

                        margin-top: 0;
                        float: none;
                    }

                    div.eMail {
                        padding-top: 0;
                    }
                }
            }
        }
    }

    #aboutMe {
        padding: 0;
        height: 100%;
        .infoBox {
            height: 100vh;
            background-size: cover;
        }
    }
}
