html, body, #myApp, #app {
    min-height: 100%;
}

#main, #aboutMe, #homeBox {
    min-height: calc(100vh - 32px);
}

body {
    background: none #f3f3f3 repeat left top;
    font-family: -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;

}

#box {

}

#main {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    user-select: none;
    position: relative;
    padding-top: 80px;
}

/*
    header
 */

header {
    width: 100%;
    height: 32px;
    background: url('//img.dinghyu.com/dinghyu/2016071517424013110tu26.png?imageView2/1/w/1280/h/52') left 50%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;

    .headerBox {
        height: 32px;
        max-width: 1280px;
        margin: 0 auto;
        font-style: italic;
        position: relative;

        svg.icon {
            font-size: 80px;
            color: #fff;
            margin-top: -24px;
            position: absolute;
            left: 0;
            top: 0;
        }

        @media screen and (max-width: 1380px) {
            svg.icon {
                left: 100px;
            }
        }

        iframe {
            border: none;
            margin-top: -10px;
            float: right;
        }

    }
}

/*
    home
 */
#homeBox {
    padding-top: 32px;
    /*
		banner
	 */
    section#banner {
        width: 100%;
        height: calc(100vh - 210px);
        overflow: hidden;
        //background-color: #000;
        position: relative;
        z-index: 1;

        img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
        }
    }
    /*
        入口
     */

    section.entranceBox {
        width: 100%;
        height: 146px;
        min-height: 146px;
        background-color: #f3f3f3;
        position: relative;
        a.centerBox {
            width: 50%;
            height: 90px;
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }

        .centerBoxLast {
            width: 191px;
            height: 146px;
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
        div.work, div.life, div.guestbook {
            width: 25%;
            height: 100%;
            float: left;
            box-sizing: border-box;
            border-right: 1px solid #fff;
            position: relative;
            .icon {
                width: 20%;
                font-size: 50px;
                color: #6d6d6d;
                margin: 0 auto 20px;
                display: block;
            }
            div.title {
                font-size: 20px;
                color: #868686;
                line-height: 20px;
                text-align: center;
            }
        }
        div.aboutMe {
            width: 25%;
            height: 100%;
            float: left;
            box-sizing: border-box;
            border: none;
            position: relative;

            div.title {
                font-size: 20px;
                color: #868686;
                text-align: center;
                margin-top: 9px;
            }
            div.eMail, div.phoneNum {
                line-height: 20px;
                font-size: 16px;
                color: #6d6d6d;
                margin-top: 10px;
                svg {
                    font-size: 20px;
                    margin-right: 10px;
                }
            }

            div.eMail {
                padding-top: 20px;
            }

            .weixin, .weibo {
                font-size: 40px;
                display: inline;
                margin: 10px 0 0;
                color: #6d6d6d;
            }

            .weibo {
                font-size: 44px;
                margin-left: 50px;
            }
        }
    }

}

/*
    aboutMe
 */

#aboutMe {
    padding-top: 32px;
    .infoBox {
        height: calc(100vh - 64px);
        min-height: 360px;
        background-size: 100% 100%;

        .wxBox {
            width: 30%;
            min-width: 150px;
            text-align: center;
            overflow:hidden;
            margin-left: 10%;
            padding-top: calc(45vh - 212px);
            color: #fff;
            .wxIcon {
                width: 100px;
                height: 100px;
                margin: 20px 0 20px calc(50% - 50px);
            }

            .wxQrCode {
                width: 150px;
                height: 150px;
                margin-top: 50px;
                margin-left: calc(50% - 75px);
                border-radius: 10px;
            }
        }

    }
}

/*
    footer
 */

#footer {
    width: 100%;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background-color: #e6e6e6;
    clear: both;
    a {
        color: #333;
    }
}

/*
    右侧列表
 */
#rightList {
    max-width: 426px;
    padding: 50px 35px;
    background-color: #fff;
    border: 1px solid #d6cdc1;
    border-radius: 5px;

    //position: absolute;
    ul {
        margin-top: 70px;
        padding: 0;
        li {
            height: 38px;
            font-size: 15px;
            line-height: 38px;
            border-bottom: 1px solid #eee;
            list-style: none;

            a {
                color: #000;
            }

            a:hover {
                font-weight: bold;
                text-decoration: none;
                font-size: 17px;
            }
        }

        li:last-child {
            border: 0;
        }
    }
}

/*
    左侧列表
 */
#leftList {
    float: left;
    padding: 0 65px;
    text-align: justify;

    .articleBox {
        background-color: #fff;
        padding: 4% 8% calc(8% - 30px);
        margin-bottom: 65px;
        border: 1px solid #d6cdc1;
        border-radius: 5px;
        position: relative;
        img {
            width: 100%;
        }
        .articleShadow {
            -webkit-mask-image: linear-gradient(#000 calc(100% - 70px), transparent 100%);
        }
        .articlePreview {
            height: 300px;
            overflow: hidden;
        }
        .dateView {
            color: #838383;
            line-height: 26px;
            height: 26px;
            padding-left: 30px;
            margin-bottom: 10px;
            background: #f6f6f6 url('../../images/time.jpg') 10px center no-repeat;
            span {
                margin-left: 10px;
            }
        }
        .toggleBtn {
            cursor: pointer;
            margin-top: 20px;
            float: right;
        }
    }

    h1 {
        margin-bottom: 10px;
    }

    p {
        font-size: 18px;
        margin-bottom: 25px;
        line-height: 31px;
        letter-spacing: 2px;
    }
}

/*
    博主信息
 */
.bloggerName {

}

/*
    标签
 */
.labelBox {
    width: 90%;
    margin: 60px auto 0;
    h4 {
        margin: 15px 0;
    }
    a {
        color: #000;
        padding: 0 3px;
        margin-bottom: 3px;
        cursor: pointer;
    }
    a:hover {
        text-decoration: none;
        color: red;
    }
}

/*
    首页loading
 */

.spinner {
    margin: 200px auto;
    width: 90px;
    height: 90px;
    position: relative;
    text-align: center;

    -webkit-animation: rotate 2.0s infinite linear;
    animation: rotate 2.0s infinite linear;
}

.dot1, .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #67CF22;
    border-radius: 100%;

    -webkit-animation: bounce 2.0s infinite ease-in-out;
    animation: bounce 2.0s infinite ease-in-out;
}

.dot2 {
    top: auto;
    bottom: 0px;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg)
    }
}

@-webkit-keyframes bounce {
    0%, 100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}



